## Load the tips dataset.

In [12]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import prepare as p

from pydataset import data
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import SelectKBest, f_regression, RFE
from sklearn.linear_model import LinearRegression

In [3]:
# Load the tips dataset
df = sns.load_dataset("tips")

# Let's take a quick look at the dataset
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## Create a column named price_per_person. This should be the total bill divided by the party size.

In [7]:
df['price_per_person'] = df['total_bill'] / df['size']

df.head()

   total_bill   tip     sex smoker  day    time  size  price_per_person
0       16.99  1.01  Female     No  Sun  Dinner     2          8.495000
1       10.34  1.66    Male     No  Sun  Dinner     3          3.446667
2       21.01  3.50    Male     No  Sun  Dinner     3          7.003333
3       23.68  3.31    Male     No  Sun  Dinner     2         11.840000
4       24.59  3.61  Female     No  Sun  Dinner     4          6.147500

## Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount?

In [ ]:
total_bill, size, price_per_person

## Use Select K Best to select the top 2 features for predicting tip amount. What are they?

In [10]:
train, val, test = p.split_data(df)

train.shape, val.shape, test.shape

((170, 8), (37, 8), (37, 8))

In [13]:
mms = MinMaxScaler()

to_scale = df.drop(columns = ['tip']).columns

df[to_scale] = mms.fit_transform(df[to_scale])

df.head()

ValueError: could not convert string to float: 'Female'

## Use Recursive Feature Elimination to select the top 2 features for tip amount. What are they?

## Why do you think Select K Best and Recursive Feature Elimination might give different answers for the top features? Does this change as you change the number of features you are selecting?

## Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

## Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top n features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

## Load the swiss dataset and use all the other features to predict Fertility. Find the top 3 features using both Select K Best and Recursive Feature Elimination (use the functions you just built to help you out).