In [1]:
%autosave 0

Autosave disabled

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

from adam_wrangle import clean_grades
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
from sklearn.model_selection import train_test_split

Let's read in the grades data from the wrangle module.

In [3]:
df = clean_grades()
df.head()

   student_id  exam1  exam2  exam3  final_grade
0           1  100.0     90     95           96
1           2   98.0     93     96           95
2           3   85.0     83     87           87
3           4   83.0     80     86           85
4           5   93.0     90     96           97

Before scaling, what **important** step do we have to complete?

Let's take a pass at the [MinMaxScaler](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html). What kind of transformation does this scaler perform, and what will be the resulting range of values?

Next up is the [StandardScaler](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html). What kind of transformation is this, and what is the resulting range of values?

Last up we have the [RobustScaler](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.RobustScaler.html). What kind of transformation and what resulting range of values?